@model LendGames.Web.MvcApp.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Alterar Senha";
}

<form action="/Account/ChangePassword" method="post">
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CurrentPassword, new { @class = "control-label" })
                        @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", autofocus = true })
                        @Html.ValidationMessageFor(model => model.CurrentPassword, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button id="ChangeButton" type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> <span>Alterar</span> <i class="fa fa-refresh fa-spin fa-fw hidden"></i></button>
            <a href="/Account/Dashboard" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
        </div>
    </div>
</form>

