@model LendGames.Web.MvcApp.ViewModels.GameViewModel

@{
    ViewBag.Title = "Gerenciar Jogo";
}

<form id="GameForm" action="/Game/Edit" method="post">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)    

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", autofocus = true })
                        @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button id="SaveButton" type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> <span>Salvar</span> <i class="fa fa-refresh fa-spin fa-fw hidden"></i></button>
            <a href="/Game" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/Scripts/game/edit.js"></script>
}
