@model LendGames.Web.MvcApp.ViewModels.FriendViewModel

@{
    ViewBag.Title = "Gerenciar Amigo";
}

<form id="FriendForm" action="/Friend/Edit" method="post">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", autofocus = true })
                        @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button id="SaveButton" type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> <span>Salvar</span> <i class="fa fa-refresh fa-spin fa-fw hidden"></i></button>
            <a href="/Friend" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/Scripts/friend/edit.js"></script>
}